:root{
  --width: 100%;
};
code {
    white-space: pre;
}
.markdown-body {
    padding-top: 0.2rem;
    font-family:  sans-serif,Arial;
}

/* modificando github.css */
.markdown-body h1 {
  font-size: 1.7rem;
  border: none;
  }
.markdown-body h1.title {
    margin: 1.5rem 0;
    background-color: #ccc;
    padding-top: 8px;
}
.author{
  text-align: right;
  font-weight: bold;
}
h1.toc-title{
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
}
/* header navigator */
.header_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
  text-align: center;
  width: var(--width);
  margin: 0 auto;
}

.header_nav li {
  float: left;
  width: calc(var(--width)/3);
}

.header_nav li + li {
  margin-top: 0;
}

.header_nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.header_nav li a:hover {
  color: #aaa;
}

/* específico para móviles */
@media only screen and (max-width: 600px) {
  .katex { font-size: 1.0rem; }
  .markdown-body { font-size: 0.9rem; padding: 20px; }
  .markdown-body h1 {
    margin: 0.2em 0;
    font-size: 1.2rem;
}
}